{% macro render_field(field, field_id, type, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'mdl-textfield__input'%}
    {{ field(class=css_class, id=field_id, **kwargs) }}
    <label class="mdl-textfield__label" for="{{ field_id }}">{{ placeholder }}</label>
</div>
{% endmacro %}

{% extends 'base.html' %}
{% block container %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href={{ url_for('static', filename='css/auth.css') }}/>
{% endblock %}
{% with errors = get_flashed_messages(category_filter=["error"]) %}
{% if errors %}
<div>
{% for error in errors %}
{{ error }}<br>
{% endfor %}
</div>
{% endif %}
{% endwith %}

{% if form.errors %}
<div>
{% for field, error in form.errors.items() %}
{% for e in error %}
{{ e }}<br>
{% endfor %}
{% endfor %}
</div>
{% endif %}
<div class="mdl-card auth-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
        <h2 class="mdl-card__title-text">Sign-In</h2>
    </div>
    <form method="POST" action="/auth/signin"  accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        <div class="mdl-card__supporting-text">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ render_field(form.email, "email", placeholder="Email", type=text, autofocus="") }}
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                {{ render_field(form.password, "passwrd", placeholder="Password", type=password) }}
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <input type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"></input>
        </div>
    </form>
</div>
{% endblock %}
