<dialog class="mdl-dialog" id="newExpense">
    <h3 class="mdl-dialog__title">New Expense</h3>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="expenseName">
            <label class="mdl-textfield__label" for="budgetName">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="number" id="newExpenseAmount">
            <label class="mdl-textfield__label" for="newAmount">Amount</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button id="newExpenseCreate" type="button" class="mdl-button">Create</button>
        <button id="newExpenseClose" type="button" class="mdl-button">Close</button>
      </div>
</dialog>