<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_orange-indigo.min.css" />
        <link rel="stylesheet" href={{ url_for('static', filename='css/main.css') }}/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Budget Buddy</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation">
                        <div style="display: {{none if not loggedin}}">
                            <a class="mdl-navigation__link" href="">Sign-out</a>
                        </div>
                    </nav>
                </div>
            </header>
            <main class="mdl-layout__content">
                <div class="page-content mdl-grid">
                    {% block container %}{% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>
