{% extends 'base.html' %}
{% block container %}
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}/>
<div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet center-div">
    <img class="center-img" src={{ url_for('static', filename='images/icon.png') }} alt="My portrait">
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <div id="right-btn">
        <a href={{ url_for('auth.signup') }} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Sign-up</a>
    </div>
</div>
<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <div id="left-btn">
        <a href={{ url_for('auth.signin') }} class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Log-in</a>
    </div>
</div>
<div class="mdl-cell mdl-cell--12-col">
    <p>Welcome to Budget Buddy, a material design web application to help users manage their budgets effectively.  Please sign-up or log-in by clicking the appropriate option above.</p>
</div>
{% endblock %}
